.container{
    /* padding: 0 !important; */
    /* margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100vw !important; */
   /* background-color: gray; */
    
    
}

.wrapper{
  background-color: #202020;
  
  
}
.card{
    padding: 0
}
.homesignup {
    margin-right: 10px;
    position: relative;
    top: 0;
    left: 0;
    width:50px;
  }
  
  .homesignin {
    position: relative;
    top: -5px;
    left: 10px;
  }
.feed-gallery{
  width:100%
}

.navbar-collapse{
  padding-right: 50px;
}

.nav-item{
  color:rgb(194, 193, 193) !important;
  transition:  border-bottom-color 1s ease ;
}

.nav-item:hover{
  
  color: white !important;
  border-bottom: 1px solid white;
}

.navbar-brand{
  position: relative;
  height: 80px;
  width: 120px;
  z-index: 100;
  margin-top: 1%;
}

  .popup-content {
   
    padding: 0 !important;
   
 
  }

  .moda .postPop{
    height: 80vh;
    width: 100%;
    padding: 0%;
    margin: 0%;
  }

  .moda .post-headerPop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12%;
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
  }
  
  .moda .post-author-avatarPop {
    width: 16%;
    height: 100%;
    border-radius: 50%;
    margin-right: 2%;
    
  }
  
  .moda .post-author-namePop {
    font-size: 32px;
    font-weight: 600;
    height: 50%;
    vertical-align: text-top;
    
  }

  .moda .post-descriptionPop {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 48px;
   
  }
  
  .moda .post-bodyPop {
    position: relative;
    width: 100%;
    height: 70%;
    
  }
  
  .moda .post-imagePop {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }
  
  
  
  .moda .post-actionsPop {
    display: flex;
    justify-content: space-between;

  }
  
  .moda .like-buttonPop,
  .moda .comment-button,
  .moda .share-buttonPop {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: 000;
    transition: color 0.3s ease;
  }
  
  .moda .like-buttonPop:hover,
  .moda .comment-buttonPop:hover,
  .moda .share-buttonPop:hover {
    color: #000000;
  }
  
  .moda .like-button svg,
  .moda .comment-button svg,
  .moda .share-button svg {
    margin-right: 5px;
  }