@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

    
  
  
 
@media only screen and (min-width: 901px) {
    

    .bgL {
        background-image: url("./images/signin.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        
    }
    
    .bgL .home{
        background: url("./images/next.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        margin-top: 5px;
        height: 40px;
        width: 40px;
       
    
    }

    .bgL .accountwrap{
        right:0px;
        height: 100vh;
        width: 30vw;
        margin-left: auto; 
        background-color: white;
        float: right;
        position: absolute;
        z-index: 2;
    } 
    
    .bgL .log{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        
        width: 100%;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 15%;
        z-index: 5;
    }

    .bgL  .emailbox, .passwordbox {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .bgL .emailbox{
      padding-top: 60px;

    }
    .bgL .name {
        font-family: 'Titillium Web', sans-serif;
        width: 55%;
        border: none;
        margin-top: 30px;
        height: 45px;
        border-radius: 15px;
        background-color: #D4DCDF;
        font-weight: 300;
    
    }

    .bgL .email{
        font-family: 'Titillium Web', sans-serif;
        width: 55%;
        border: none;
        margin-top: 30px;
        height: 45px;
        border-radius: 15px;
        background-color: #D4DCDF;
        font-weight: 300;

    }

    .bgL .password{
        font-family: 'Titillium Web', sans-serif;
        width: 55%;
        border: none;
        margin-top: 30px;
        height: 45px;
        border-radius: 15px;
        background-color: #D4DCDF;
        font-weight: 300;
    }

   
    .bgL ::placeholder{
        padding-left: 2px;
    
    }
    
    .bgL input{
        padding-left: 20px;
    
    }
    

    .bgL .submitbox{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .bgL .signin{
    
      font-family: 'Titillium Web', sans-serif;
        width: 55%;
        border: none;
        margin-top: 30px;
        height: 45px;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-size: 24px;
        font-weight: 300;
        transition-duration: 0.4s;
        
    }

    .bgL .signin:hover{
        background-color: white;
        color: black;

    }
    
    .bgL .signup{
        
        font-weight: 400;
        border: none;
        background-color: transparent;
    }
    .bgL .row{
        display: flex;
        margin-top: 10px;
        margin-left: 22% !important;
        justify-content: start;
        font-weight: 300;
    }

  
}



@media only screen and  (max-width: 900px) {
  .bgL {
      background-color: white;
  }
  .bgL .home{
      background: url("./images/nextB.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 0px;
      margin-top: 0px;
      height: 50px;
      width: 50px;
      z-index: 11;
  }

  .bgL .accountwrap{
      position: relative;
      height: 100vh;
      width: 100%;
      background-color: white;
      z-index: 10;
  } 

  .bgL  .log{
      margin-top: 50px;
      text-align: center;
      width: 100vw;
      font-weight: bold;
      font-size: 32px;
      margin-bottom: 60px;
      
  }


  
  .bgL .name{
      margin-left: 10%;
      width:80%;
      height: 50px;
      font-family: 'Titillium Web', sans-serif;
      border: none;
      border-radius: 12px;
      background-color: #D4DCDF;
      font-weight: 300;
  }
  
  .bgL .email{
      margin-left: 10%;
      margin-top: 5%;
      width:80%;
      height: 50px;
      font-family: 'Titillium Web', sans-serif;
      border: none;
      border-radius: 12px;
      background-color: #D4DCDF;
      font-weight: 300;
  }
 
  .bgL .password{
      margin-left: 10%;
      margin-top: 5%;
      width:80%;
      height: 50px;
      font-family: 'Titillium Web', sans-serif;
      border: none;
      border-radius: 12px;
      background-color: #D4DCDF;
      font-weight: 300;
  }
  .bgL .cpassword{
      margin-left: 10%;
      margin-top: 5%;
      width:80%;
      height: 50px;
      font-family: 'Titillium Web', sans-serif;
      border: none;
      border-radius: 12px;
      background-color: #D4DCDF;
      font-weight: 300;
  }
  

  .bgL input{
      padding-left: 20px;
  
  }

  .bgL .signin{
      margin-left: 10%;
      margin-top: 5%;
      width:80%;
      height: 50px;
      font-family: 'Titillium Web', sans-serif;
      border: none;
      border-radius: 12px;
      color: white;
      background-color: black;
      font-weight: 300;
  
  }
  
  .bgL .signup{
      font-weight: 400;
      border: none;
      background-color: transparent;
  }
  .bgL .row{
      margin-top: 10px;
      margin-left: 7%;
      font-weight: 300;
  } 

 


}

