html{
    background-color: #202020;
}

@media only screen and (min-width: 1101px) {


.PS{
    
    background-color: #202020;
    width: 100%;
    height: 100%;
        
        
}    


.PS .home{
    background: url("./images/next.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 5px;
    height: 60px;
    width: 60px;
   border: none;

}

.PSCard{
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 32%;
    margin-right: 32%;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

 .PSHeader{
    
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 38px;
}


.PSFilterBox{
    
    width: 100%;
    display: flex;
    justify-content: center;
}

.PS select {
    width: 100%;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    background-color: white;
    border: transparent;
    color: #202020;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;      
    outline: none;
    text-align: center;
    transition: border-bottom-color .5s ease;
  }
  
 
  
  .PS select:hover,
      select:focus {
        
        border-bottom: 2px solid #202020;
      }
    
      option {
        color:#202020;
        background-color: #f5f5f5;
        
      }

.PSTitleBox{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}

.inpTitle{
    
    width: fit-content;
    height: 40px;
    text-align: center;
    background-color: blue;
    border: transparent;
    transition: border-bottom-color .5s ease;
    
    background-color: #fff;
    padding: 5px 10px;
    outline: none;
    font-size: 30px;
    
}

.inpTitle:hover, .inpTitle:focus{
    
    border-bottom: 2px solid #202020;
}



.PSImgBox{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.inpImg{
    display: none;
    
}
.PSIconBox{
    display: flex;
    justify-content: center;

    
}
.PSPreview{
    border: 2px solid #202020;
    box-sizing: border-box;
    /* height: 300px;
    width: 400px; */
    height: 50%;
    width: 58%;
    object-fit: contain;

}

.PSPreview:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    
}



.PSCaptionBox{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}

.inpCaption{
    
    width: 400px;
    height: 120px;
    
    background-color: #fff;
    border: white;
    padding: 5px 10px;
    outline: white;
    font-size: 14px;
    transition: border-color .5s ease;
}

.inpCaption:hover, .inpCaption:focus {
    border: 2px solid #202020;
}


.PSUpdateBox{
    display: flex;
    justify-content: center;
}

.PSUpdate{
    margin-top: 10px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border-color: black;
    background-color: white;
    border-width: 1px;
    color: green;
    transition-duration: 0.4s;
}
.PSUpdate:hover{
    background-color: green;
    color: white;
}

.PSDeleteBox{
    display: flex;
    justify-content: center;
}

.PSDelete{
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border-color: #202020;
    background-color: #202020;
   
    border-width: 1px;
    color: red;
    transition-duration: 0.4s;
}

.PSDelete:hover{
    background-color: red;
    color: white;
}

.PS input{
    color: #202020;  
}  

.PS ::placeholder{
       
    color: #202020;
    
} 
} 




@media only screen and (max-width: 1100px) {
    
.PS{
    
    background-color: #202020;
    width: 100%;
    height: 100%;
        
        
}    


.PS .home{
    background: url("./images/next.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 5px;
    height: 40px;
    width: 40px;
   border: none;

}

.PSCard{
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.PSHeader{
    padding-top: 10px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
}


.PSFilterBox{
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}



.PSTitleBox{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}

.inpTitle{
    
    width: 200px;
    height: 40px;
    text-align: center;
    transition: width .5s ease, background-color .5s ease;
    border: none;
    background-color: #fff;
    padding: 5px 10px;
    outline: none;
    font-size: 24px;
    
}

.inpTitle:hover{
    border-bottom: 1px solid #202020;
}



.PSImgBox{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.inpImg{
    display: none;

}

.PSPreview{
    height: 200px;
    width: 300px;
    object-fit: cover;

}



.PSCaptionBox{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    
}

.inpCaption{
    
    width: 300px;
    height: 100px;
    border: none;
    background-color: #fff;
    padding: 5px 10px;
    outline: none;
    font-size: 12px;
}
.inpCaption:hover{
    border: 1px solid #202020;
}

.PSUpdateBox{
    display: flex;
    justify-content: center;
}

.PSUpdate{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border-color: black;
    background-color: white;
    border-width: 1px;
    color: green;
    transition-duration: 0.4s;
}
.PSUpdate:hover{
    background-color: green;
    color: white;
}

.PSDeleteBox{
    display: flex;
    justify-content: center;
}
.PSDelete{
    margin-top: 15px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border-color: #202020;
    background-color: #202020;
    border-width: 1px;
    color: red;
    transition-duration: 0.4s;
}
.PSDelete:hover{
    background-color: red;
    color: white;
}
.PS input{
    color: #202020;  
}  
.PS ::placeholder{
       
    color: #202020;
    
}
   
} 