.cover-page {
    background-color: #202020;
    height: 100%;
    width: 100%;
    color: #202020;
}

.cover-page .postSettings{
    float: right;
    background-color: transparent;
    border: transparent;
    color: gray;
    font-size: 20px;
}
.cover-page .postSettings:hover{
 
    color: black;
}

.page{
    width: 80%;
    margin: 0 auto;
    background-color: #eff1ed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    margin-top: 1%;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(173,171,171,1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(173,171,171,1);
    box-shadow: 0px 0px 10px 3px rgba(173,171,171,1);
}



.blogpost_header{
    border-bottom: 1px solid black;
    padding: 10px;
}
.blogpost_header img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    
}

.blogpost_header img:hover{
    -webkit-filter: brightness(60%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    
}
.blogpost_header a{
    font-size: 30px;
}
.post_title{
    text-align: center;
    font-size: 24px;
    padding: 20px
}
.post_image{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.post_image img{
    height: 100%;
    width: 100%;
}
.post_body{
    padding:5%;
}
.date{
    margin: 0 auto; 
}

.share{
    background-color: transparent;
    border: transparent;
    color: gray;
}

.share:hover{
    color: black;
}