@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

@media only screen and (min-width: 1101px) {
  html, body {
  
 
    /* overflow-x: hidden; */
    
  }

  .chat-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    
  }
  
  .chat-popup-container .message-list {
    font-family: 'Titillium Web', sans-serif;
    height: 400px;
    overflow-y: scroll;
    margin: 5px;
    padding: 5px;
    color: rgb(221, 221, 221);
  }

  .chat-popup-container li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    object-fit: cover;
  }
  
  .chat-popup-container .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .chat-popup-container .input-container input[type="text"] {
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    filter: grayscale(100%);
    
  }
  
  .chat-popup-container .input-container button {
    
    background-color: rgb(105, 97, 97);
    color: rgb(221, 221, 221);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .chat-popup-container .chatbox-close {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }
  
  .popup-inner {
    position: relative;
    max-width: 600px;
    width: 90%;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
  }
  
  .popup-inner h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .popup-inner ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .popup-inner li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .popup-inner li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .popup-inner li span {
    font-size: 18px;
    font-weight: 600;
  }
  
  .popup-remove {
    background-color: #a5bfcf;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left: auto;
  }
  
  
  .popup-remove:hover {
    background-color: #2b77db;
  }

  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #534f4f;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  .popup-close:hover {
    background-color: #499fd8;
  }
  
  .bg2 .nav-link {

    color: aliceblue !important;
    text-shadow: 2px 2px rgba(27,27,27,1);
  }

  .bg2 .navbar-brand{
    color: aliceblue !important;
    text-shadow: 2px 2px rgba(27,27,27,1);
    background-color: transparent;
    border: none;
  }
  .bg2{
    background-color: rgba(27,27,27,1);
    z-index: 0;
    
    
  }
  .bg2abs{
    position: absolute;
    background-size:cover;
    background-position: center; 
    margin: auto;
    background-repeat: no-repeat;
    width: 100vw;
    height: 120vh;
    z-index: 10;
   
  }
  
  
    .bg2 .headers{

      position: relative;
      width: 100vw;
      z-index: 100;
      
    }
  
  
    /* .follow{
      height: 50px;
      width: 150px;
      border-radius: 10px;
      margin-left: 76%;
      border-color: transparent;
      font-size: 24px;
      margin-top: auto;
    }
    
  */
  
    .bg2 .imgbox{
      padding-top: 3%;
      position: relative;
      display: flex;
      width: 100vw;
      justify-content: center;
      z-index: 100;
      padding-left: 10px;
    }
  
    .bg2 .profile{
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      
    }
  
  
  
  .bg2 .name{
    font-family: 'Titillium Web', sans-serif;
    background: transparent;
    font-weight: 400;
    color: aliceblue;
    margin-top: 0px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100vw;
    text-align: center;
    position: relative;
    z-index: 100;
    font-size: 48px;
  }
  
  
  .bg2 .desc{
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    color: aliceblue;
    position: relative;
    width: 100vw;
    text-align: center;
    height: fit-content;
    font-size: 24px;
    z-index: 100;
    background-color: transparent;
    padding-left: 10px;
  }
  
  .bg2 .timeline{
    font-family: 'Titillium Web', sans-serif;
    background: transparent;
    font-weight: 400;
    color: aliceblue;
    width: 100vw;
    /* margin-left: 10px; */
    display: flex;
    justify-content: center;
    height: 60px;
    position: relative;
    z-index: 100;
    font-size: 50px;
    margin-top: 40px;
    padding-left: 10px;
  }
  
  
  .bg2 .buttons{
    height: 105px;
    z-index: 100;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 58vw;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #242424;
    position: relative;
    padding-left: 10px;
  }
  
 
  .bg2 .postwrap{
    margin-left: 4%;
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    font-size: 24px;
   
  }
  
  .bg2 .post{
    color: aliceblue;
    font-weight: 400;
  }
  
  .bg2 .postbutton{
    color: gray;
    font-weight: 1;
  }
  
  .bg2 .followingwrap{
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    font-size: 24px;
    
  }
  
  .bg2 .following{
    color: aliceblue;
    font-weight: 400;
 
    
  }
  
  .bg2 .followingbutton{
    color: gray;  
    font-weight: 1;
  }
  .bg2 .followerwrap{
    
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    font-size: 24px;
  }
  
  .bg2 .follower{
    color: aliceblue;
    font-weight: 400;
  }
  
  .bg2 .followerbutton{
    color: gray;
    font-weight: 1;
  }

  .bg2 .gallery{
    position: relative;
    z-index: 100;
    background-color: transparent;
    width: 100%;
    display: flex;
    margin: 0;
    margin-top: 1.5%;
    flex-wrap: wrap;
    justify-content: center;

  }

  .bg2 .innerGallery{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }
  
  .bg2 .gallery img{
    height: 400px;
    margin-top: 10px;
    margin-left: 10px;
    /* width: 31.81%; */
    object-fit: cover;
    
  }
  
  .follow {
    font-family: 'Titillium Web', sans-serif;
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    }
  

    
    .follow:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    }
    
    .follow:hover,
    .follow:focus,
    .follow:active {
    background-color: #262626;
    }
    
    .follow.following {
    background-color: #ffffff;
    color: #262626;
    border: 1px solid #262626;
    }
    
    .follow.following:hover,
    .follow.following:focus,
    .follow.following:active {
    background-color: #e6e6e6;
    }
    .unfollow {
      font-family: 'Titillium Web', sans-serif;
      background-color: #000000;
      color: #ffffff;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
      }
    
  
      
      .unfollow:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      }
      
      .unfollow:hover,
      .unfollow:focus,
      .unfollow:active {
      background-color: #262626;
      }
      
    
  .dm{
    font-family: 'Titillium Web', sans-serif;
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
    
    
    
    
    


}


@media only screen and (max-width: 1100px) {
   html, body {
  
 
    overflow-x: hidden;
  }
  .chat-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    }

    .chat-popup-container .message {
      font-family: 'Titillium Web', sans-serif;
      color:rgb(221, 221, 221);
      position: relative;
      }
    
    .chat-popup-container .message-list {
    font-family: 'Titillium Web', sans-serif;
    height: 70%;
    overflow-y: scroll;
    margin: 5px;
    
    padding: 5px;
    color: rgb(221, 221, 221);
    }

    
    .chat-popup-container .message-list .sent {
      margin-bottom: 5px;
      background-color: #73889b;
      color: white;
      justify-content: flex-end;
      border-radius: 10px;
    }

    .chat-popup-container .message-list .received {
      margin-bottom: 5px;
      background-color: #404f56;
      color: white;
      justify-content: flex-end;
      border-radius: 10px;
    }
    
    .chat-popup-container li img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    object-fit: cover;
    }
    
    .chat-popup-container .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    }
    
    .chat-popup-container .input-container input[type="text"] {
    font-family: 'Titillium Web', sans-serif;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    filter: grayscale(100%);
    }
    
    .chat-popup-container .input-container button {
    background-color: rgb(105, 97, 97);
    color: rgb(221, 221, 221);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 0.8rem;
    }
    
    .chat-popup-container .chatbox-close {
    background-color: black;
    color: white;
    border: none;
    border-radius: px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 0.8rem;
    }
  .follow {
    font-family: 'Titillium Web', sans-serif;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    }

    .dm{
      font-family: 'Titillium Web', sans-serif;
      background-color: #000000;
      color: #ffffff;
      border: none;
      padding: 6px 12px;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
    }
      
    
    .follow:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    }
    
    .follow:hover,
    .follow:focus,
    .follow:active {
    background-color: #262626;
    }
    
    .follow.following {
    background-color: #fff;
    color: #262626;
    border: 1px solid #262626;
    }
    
    .follow.following:hover,
    .follow.following:focus,
    .follow.following:active {
    background-color: #e6e6e6;
    }

    .unfollow {
      font-family: 'Titillium Web', sans-serif;
      background-color: #000;
      color: #fff;
      border: none;
      padding: 6px 12px;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
      }
      
      
      .unfollow:hover,
      .unfollow:focus,
      .unfollow:active {
      background-color: #262626;
      }
      
    
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    }
    
    .popup-inner {
    position: relative;
    max-width: 400px;
    width: 90%;
    background-color: #1c1c1c;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    }
    
    .popup-inner h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    }
    
    .popup-inner ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .popup-inner li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    }
    
    .popup-inner li img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
    }
    
    .popup-inner li span {
    font-size: 14px;
    font-weight: 600;
    }
    
    .popup-remove {
    background-color: #a5bfcf;
    border: none;
    color: #fff;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left: auto;
    font-size: 14px;
    }
    
    .popup-remove:hover {
    background-color: #2b77db;
    }
    
    .popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #534f4f;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 3px;
    }
    
    .popup-close:hover {
    background-color: #499fd8;
    }

  
  .bg2{
    background-color: rgba(27,27,27,1);
    z-index: 0;
    
    
  }
 
    .bg2abs{
      position: absolute;
      background-size:cover;
      background-position: center; 
      margin: auto;
      background-repeat: no-repeat;
      width: 100vw;
      height: 100vh;
      z-index: 10;
    }
  
    .bg2 .headers{
      padding-top: 5%;
      position: relative;
      z-index: 100;
    }
    .bg2 .nav-link {

      color: aliceblue !important;
      text-shadow: 2px 2px rgba(27,27,27,1);
    }
  
    .bg2 .navbar-brand{
      color: aliceblue !important;
      text-shadow: 2px 2px rgba(27,27,27,1);
      background-color: transparent;
      border: none;
    }

    .bg2 .navbar-toggler-icon{
      color: aliceblue !important;
    }
  
    .bg2  .home{
      height: 5%;
      width: 5%;
      margin-left: 3%;
    } 
  /*
    .follow{
      height: 5%;
      width: 15%;
      border-radius: 10px;
      margin-left: 50%;
      border-color: transparent;
      font-size: 12px;
      margin-top: auto;
    }
   */
  
     .settings{
      height: 5%;
      width: 5%;
      
    } 
  
    .bg2 .imgbox{
      position: relative;
      padding-left: 10px;
      display: flex;
      width: 100vw;
      justify-content: center;
      z-index: 100;
     
    }
  
    .bg2 .profile{
      border-radius: 50%;
      width: 75px;
      height: 75px;
      object-fit: cover;
    } 
  
  
 
  .bg2 .name{
    font-family: 'Titillium Web', sans-serif;
    background: transparent;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
    margin-top: 0px;
    padding-left: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 100;
    height: fit-content;
    width: 100vw;
    position: relative;
    font-size: 32px;
  }
   
  
  .bg2 .desc{
    white-space: pre-line;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
    color: aliceblue;
    position: relative;
    width: 100vw;
    height: fit-content;
    font-size: 12px;
    z-index: 100;
    background-color: transparent;
  }
  
  
  
  .bg2 .buttons{
    height: 60px;
    width: 50vw;
    z-index: 100;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: #242424;
    position: relative;
  }
  

  .bg2 .postwrap{
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    font-size: 12px;
  }
  
  .bg2 .post{
    
    color: aliceblue;
    font-weight: 400;
  }
  
  .bg2 .postbutton{
    color: gray;
    font-weight: 1;
  }
  
  .bg2 .followingwrap{
    
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    font-size: 12px;
  }
  
  .bg2 .following{
    color: aliceblue;
    font-weight: 400;
  }
  
  .bg2 .followingbutton{
    color: gray;
    font-weight: 1;
  }
  .bg2 .followerwrap{
    
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    font-size: 12px;
    
  }
  
  .bg2 .follower{
    color: aliceblue;
    font-weight: 400;
  }
  
  .bg2 .followerbutton{
    color: gray;
    text-align: center;
    font-weight: 1;
  }
  
  .bg2 .timeline{
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    background: transparent;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
    margin-top: 1%;
    padding-left: 10px;
    height: fit-content;
    width: 100vw;
    position: relative;
    z-index: 100;
    font-size: 32px;
  }
  
  .bg2 .gallery{
    position: relative;
    z-index: 100;
    background-color: transparent;
    width: 100%;
    display: flex;
    margin:0;
    margin-top: 1.5%;
    flex-wrap: wrap;
    justify-content: center;

  }

  .bg2 .innerGallery{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }
  
  /* .bg2 .gallery img{
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    width: 27%;
    object-fit: cover;
    
  } */

  
} 