@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');

@media only screen and (min-width: 901px) {
  html, body {
  
 
    overflow-x: hidden;
  }
  
  
  .bg2{
    background-color: rgba(27,27,27,1);
    z-index: 0;
    
    
  }
  .bg2::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size:cover;
      background-position: center; 
      background-image: linear-gradient(180deg,transparent, rgba(12,14,21,0.89) 30%, rgba(27,27,27,1) 43%),url("./images/matcha.jpg");
      margin: auto;
      background-repeat: no-repeat;
      width: 100vw;
      height: 100vh;
      
    }
  
    .headers{
      padding-top: 20px;
      position: relative;
      width: 100vw;
      z-index: 100;
    }
  
    .bg2 .home{
      height: 40px;
      width: 40px;
      margin-left: 1%;
    }
  
    /* .follow{
      height: 50px;
      width: 150px;
      border-radius: 10px;
      margin-left: 76%;
      border-color: transparent;
      font-size: 24px;
      margin-top: auto;
    }
    .message{
      height: 50px;
      width: 150px;
      border-radius: 10px;
      border-color: transparent;
      font-size: 24px;
      
    }
  
    .settings{
      height: 50px;
      width: 50px;
      margin-top: -10px;
    } */
  
     .imgbox{
      position: relative;
      margin-left: 10px;
      display: flex;
      width: 100vw;
      justify-content: center;
      z-index: 100;
    }
  
    .profile{
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
  
  
  
  .bg2 .name{
    font-family: 'Titillium Web', sans-serif;
    background: transparent;
    font-weight: 400;
    color: aliceblue;
    margin-top: 0px;
    margin-left: 10px;
    
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100vw;
    text-align: center;
    position: relative;
    z-index: 100;
    font-size: 54px;
  }
  
  
  .desc{
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin-left: 10px;
    color: aliceblue;
    position: relative;
    width: 100vw;
    text-align: center;
    height: fit-content;
    font-size: 24px;
    z-index: 100;
    background-color: transparent;
  }
  
  .timeline{
    font-family: 'Titillium Web', sans-serif;
    background: transparent;
    font-weight: 400;
    color: aliceblue;
    width: 100vw;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    height: 60px;
    position: relative;
    z-index: 100;
    font-size: 65px;
    margin-top: 10px;
  }
  
  
  .buttons{
    height: 105px;
    z-index: 100;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #242424;
    position: relative;
  }
  
 
  .postwrap{

    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    margin-left: -2%;
    padding-top: 10px;
  }
  
  .post{
    color: aliceblue;
    font-weight: 400;
    width: fit-content;
    
  }
  
  .postbutton{
    position: absolute;
    color: gray;
    text-align: center;
    width: fit-content;
    
    font-weight: 1;
  }
  
  .followingwrap{
    justify-content: center;
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    padding-top: 10px;
    
  }
  
  .following{
    color: aliceblue;
    font-weight: 400;
    width: fit-content;
   
    margin-left: 40%;
  }
  
  .followingbutton{
    position: absolute;
    color: gray;
    text-align: center;
    width: fit-content;
    
    font-weight: 1;
  }
  .followerwrap{
    
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    padding-top: 10px;
    
    
  }
  
  .follower{
    color: aliceblue;
    font-weight: 400;
    width: fit-content;
    
    margin-left: 40%;
  }
  
  .followerbutton{
    position: absolute;
    color: gray;
    text-align: center;
    width: fit-content;
    
    font-weight: 1;
  }

  .gallery{
    position: relative;
    z-index: 100;
    background-color: transparent;
    width: 75%;
    display: flex;
    margin-top: 1.5%;
    margin-left: 15%;
  flex-wrap: wrap;
  justify-content: flex-start;
    
    
    
  }
  
  .gallery img{
    height: 500px;
    margin-top: 10px;
    margin-left: 10px;
    width: 31%;
    object-fit: cover;
    
  }
  


}


@media only screen and (max-width: 900px) {
  html, body {
  
 
    overflow-x: hidden;
  }
  
  .bg2{
    background-color: rgba(27,27,27,1);
    z-index: 0;
    
    
  }
  .bg2::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: fill;
      background-position: center; 
      background-image: linear-gradient(180deg,transparent, rgba(12,14,21,0.89) 30%, rgba(27,27,27,1) 43%),url("./images/matcha.jpg");
      margin: auto;
      background-repeat: no-repeat;
      width: 100vw;
      height: 100vh;
      z-index: 10;
    }
  
     .headers{
      padding-top: 5%;
      position: relative;
      z-index: 100;
    }
  
    .home{
      height: 5%;
      width: 5%;
      margin-left: 3%;
    }
  /*
    .follow{
      height: 5%;
      width: 15%;
      border-radius: 10px;
      margin-left: 50%;
      border-color: transparent;
      font-size: 12px;
      margin-top: auto;
    }
    .message{
      height: 5%;
      width: 15%;
      border-radius: 10px;
      border-color: transparent;
      font-size: 12px;
      margin-top: auto;
      
    }
  
    .settings{
      height: 5%;
      width: 5%;
      
    } */
  
     .imgbox{
      position: relative;
      margin-left: 10px;
      display: flex;
      width: 100vw;
      justify-content: center;
      z-index: 100;
     
    }
  
    .profile{
      border-radius: 50%;
      width: 75px;
      height: 75px;
      object-fit: cover;
    } 
  
  
 
  .bg2 .name{
    font-family: 'Titillium Web', sans-serif;
    background: transparent;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
    margin-top: 0px;
    margin-left: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 100;
    height: fit-content;
    width: 100vw;
    position: relative;
    font-size: 32px;
  }
   
  
  .desc{
    white-space: pre-line;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    text-align: center;
    color: aliceblue;
    position: relative;
    width: 100vw;
    height: fit-content;
    font-size: 12px;
    z-index: 100;
    background-color: transparent;
  }
  
  
  
  .buttons{
    height: 60px;
    width: 70vw;
    z-index: 100;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #242424;
    position: relative;
  }
  

  .postwrap{
    
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    padding-top: 10px;
    margin-left: -2%;
  }
  
  .post{
    color: aliceblue;
    font-weight: 400;
    width: fit-content;
    
    
  }
  
  .postbutton{
    position: absolute;
    color: gray;
    text-align: center;
    width: fit-content;
   
    font-weight: 1;
  }
  
  .followingwrap{
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    padding-top: 10px;
    
  }
  
  .following{
    color: aliceblue;
    font-weight: 400;
    width: fit-content;

    
  }
  
  .followingbutton{
    position: absolute;
    color: gray;
    text-align: center;
    width: fit-content;
    font-weight: 1;
  }
  .followerwrap{
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: 400;
    width: fit-content;
    height: fit-content;
    font-size: 12px;
    padding-top: 10px;
    
  }
  
  .follower{
    color: aliceblue;
    font-weight: 400;
    width: fit-content;
    
  }
  
  .followerbutton{
    position: absolute;
    color: gray;
    text-align: center;
    width: fit-content;
    font-weight: 1;
  }
  
  .timeline{
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    background: transparent;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
    margin-top: 1%;
    margin-left: 10px;
    height: fit-content;
    width: 100vw;
    position: relative;
    z-index: 100;
    font-size: 32px;
  }
  
  .gallery{
    
    position: relative;
    z-index: 100;
    background-color: transparent;
    width: 75%;
    display: flex;
    margin-top: 1.5%;
    margin-left: 13%;
  flex-wrap: wrap;
  justify-content: flex-start;
  }
  
  .gallery img{
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    width: 31%;
    object-fit: cover;
    
  }

  
}

